.zag {
    width: 100%;
    height: 400px;
    background-color: rgb(162, 224, 91);
}

.zag1 {
    width: 100%;
    height: 400px;
    background-color: rgb(102, 38, 147);
}

head {
    margin: 0;
}

body {
    margin: 0;
    background-color: #FFFF;
    height: 100%;
}


.block {
    width: 100%;
}


.container {
    width: 77.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1.9%;
    margin: 8% auto;
}

.item > img {
    width: 100%;
    height: auto;
}

.item {
    width: calc(((100% - 3 * 1.9%)) / 4);
    display: flex;
    flex-direction: column;
}

.links {
    background-color: black;
    width: 43%; 
    height: 39px;
}

.name {
    margin: 30px 0px 5.29px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #2D3033;
}

.work {
    margin: 0px 0px 19.86px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FF4343;
}

.description {
    margin: 0px 0px 37.86px;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    color: #6C7279;
}

/*.block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 77.5%;
    min-height: 619px;
    background-color: black;
    margin: 8% auto;
    display: flex;
    flex-direction: row;
    gap: 1.9%;
}

.item > img {
    width: 100%;
    height: auto;
}

.item {
    width: calc((100% - 3 * 1.9%) ) / 4;
    
    display: flex;
    flex-direction: column;
    align-items: left;
}

.links {
    background-color: black;
    width: 43%; 
}

.name {
    width: 100%;
    margin: 4.8% 0% 0.85%;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: capitalize;
    color: #2D3033;
}

.work {
    width: 100%;
    
    margin: 0% 0% 3.2%;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    text-transform: uppercase;
    color: #FF4343;
}

.description {
    width: 100%;
    
    margin: 0% 0% 6.1%;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    vertical-align: middle;
    color: #6C7279;
}*/